<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, nav, mainContent, footer)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/svg+xml" th:href="@{/images/coffee/favicon.svg}" />
    <link rel="stylesheet" th:href="@{/assets/libs/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/icons/tabler-icons/tabler-icons.css}">
    <link rel="stylesheet" th:href="@{/css/coffee-theme.css}">
    <title th:replace="${title}">QuynhHill Coffee</title>

    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>

</head>
<body>

<nav th:replace="${nav} ?: ~{}">
</nav>

<article th:replace="${mainContent} ?: ~{}">
</article>

<footer th:insert="${footer} ?: ~{}">
</footer>

<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
