<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{},
                                                ~{/fragments/app-fragments :: nav-default},
                                                ~{:: #empty-cart-main-content},
                                                ~{/fragments/app-fragments :: copyright}
                                               )}">
<head>
    <title>Giỏ hàng trống - QuynhHill Coffee</title>
</head>
<body>

<div id="empty-cart-main-content" style="margin-top: 90px;">
    <div class="container py-5 text-center">
        <i class="ti ti-shopping-cart-off" style="font-size: 64px; color: var(--coffee-light);"></i>
        <h4 class="fw-semibold mt-3">Giỏ hàng của bạn đang trống</h4>
        <p class="text-muted">Hãy chọn vài món yêu thích từ thực đơn của chúng tôi nhé!</p>
        <a th:href="@{/products}" class="btn btn-coffee mt-2">Xem thực đơn</a>
    </div>
</div>

</body>
</html>
